.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.overlay-btn {
  position: absolute;
  top: -10px;
  right: -20px;
}
.btn-circle.btn-sm {
  width: 40px; /* 30 px */
  height: 40px;
  padding: 6px 0px;
  border-radius: 25px; /* 15 px */
  font-size: 8px;
  text-align: center;
}

button > svg {
  pointer-events: none;
  height: 12px;
  width: 12px;
}

.active-green {
  background: green;
}

.active-grey {
  background: grey;
}
.active-blue {
  background: blue;
}

.btn-flat {
  background-color: purple;
  color: white;
}
.btn-flat:hover {
  color: burlywood
}
.btn-pending {
  background-color: grey;
  color: #fff;
}
.btn-in-progress {
  background-color:#007bff;
  color: #fff;
}
.btn-completed {
  background-color:#28a745;
  color: #fff;
}
.btn-purple {
  background-color: purple;
  color: white;
}
.btn-purple:hover {
  color: white;
  background-color: #6C006C;
}
.nav-bar-properties {
  background-color: purple;
  color: #fff;
}
.filter .dropdown-toggle:after { content: none }


.node-bar {
  margin-top: 20px;

}
.line-details {
  margin: 0 auto;
  color: black;
  background: black;

}
.node-cards-layout {
  margin-top: 30px;
}

.input-group-text {
  background-color: #fff;

  }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
